<%- include('../partials/header') %>

<h1>Add/Edit Calendar</h1>
<form action="#" method="post">
    <label for="calName">Calendar Name:</label>
    <input type="text" id="calName" name="calName">
    <input type="submit" value="Save Calendar">
</form>
<button onclick="window.location.href='/'">Home Page</button>

<%- include('../partials/footer') %>
