<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'EduPlanner' %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>EduPlanner</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (user) { %> <!-- Check if user object exists -->
                <li><a href="/view-calendars">View Calendars</a></li>
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
</header>
